<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.task.reports.ListenerImpClass"/>

<listener class-name="com.task.reports.AnnotationTransformer"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.task.tripadvisor.TripAdvisorTest"/>
      <class name="com.task.compareprice.ComparePriceTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
